.main-header
	%h3 Zorgvragers

.fitbit-users-list
	- @fitbits.each do |fitbit_user|
		.fitbit-user-box
			.fitbit-user-image{:style => "background-image: url(#{fitbit_user.avatar})"}
			%p 
				= fitbit_user.name
			%p.date 
				01/01/2001
			%p.date
				= fitbit_user.city
			%p.date
				= fitbit_user.birth

.button-area
	= link_to "Zorgvrager toevoegen", fitbit_api_add_care_user_path, class: "secondary-button center"

