!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title Tinycare
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		%script{:src => "https://d3js.org/d3.v4.0.0-alpha.40.min.js"}
		%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"}

		= csrf_meta_tags
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/


	%body
		.background-shape
		= if fitbit_user_signed_in?
			%nav
				.left-part
					Kek logo
				.middle-part
					%h2 Overzicht
				.right-part
					Uitloggen en instellingen

		%main
			= yield

