!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
		%title Tinycare
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		%script{:src => "https://d3js.org/d3.v4.0.0-alpha.40.min.js"}
		%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"}
		%link{:href => "https://fonts.googleapis.com/css?family=Lato:700,400", :rel => "stylesheet", :type => "text/css"}/

		%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.css", :rel => "stylesheet"}/
		%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css", :rel => "stylesheet"}/
		%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.js"}
		%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"}
		%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.js"}
		%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"}
		= csrf_meta_tags
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

	%body
		- if care_giver_signed_in? && fitbit_user_signed_in?
			%nav.bignav
				.upper-nav
					.left-part
						a
					.middle-part
						%h2 Dashboard
					.right-part
						.dropdown
							%a.fa.fa-ellipsis-v
							.dropdown-content
								= link_to "Instellingen", care_givers_settings_path, class: "dropdown-item"
								= link_to 'Uitloggen', destroy_care_giver_session_path, class: "dropdown-item", data: { confirm: 'Weet u zeker dat u wilt uitloggen?' }, method: :delete
				.lower-nav
					.header-image
						= link_to fitbit_api_profile_path, :class=>'fitbit-user-image dashboard', :style=>"background-image: url(#{current_fitbit_user.avatar})" do
							%span.profile-label Profiel
					.header-text
						%h3
							= current_fitbit_user.name
						%p
							= current_fitbit_user.city
		- elsif care_giver_signed_in?
			%nav
				.upper-nav
					.left-part
						= link_to fa_icon("arrow-left"), :back
					.middle-part
						%h2 Overzicht
					.right-part
						= link_to 'Uitloggen', destroy_care_giver_session_path, class: "", data: { confirm: 'Weet u zeker dat u wilt uitloggen?' }, method: :delete
		- else
			.background-shape

		%main
			= yield

		- if fitbit_user_signed_in?
			.bottom-menu
				.menu-item
					= link_to fitbit_api_dashboard_path, class: [ ('active' if current_page?(fitbit_api_dashboard_path)) ] do
						%i.fa.fa-user
				.menu-item
					= link_to fitbit_api_data_path, class: [ ('active' if current_page?(fitbit_api_data_path)) ] do
						%i.fa.fa-bar-chart
				.menu-item
					= link_to fitbit_api_notifications_path, class: [ ('active' if current_page?(fitbit_api_notifications_path)) ] do
						%i.fa.fa-bell-o
				.menu-item
					= link_to destroy_fitbit_user_session_path, class: [ ('active' if current_page?(care_givers_client_overview_path)) ],data: { confirm: 'Wilt u dit Fitbit account uitloggen en terugkeren naar het zorgvrager overzicht?' }, method: :delete do
						%i.fa.fa-sign-out
