!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title Tinycare
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		%script{:src => "https://d3js.org/d3.v4.0.0-alpha.40.min.js"}
		%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"}

		= csrf_meta_tags
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

	%body
		- if care_giver_signed_in? && fitbit_user_signed_in?
			%nav.bignav
				.left-part
					= link_to fa_icon "arrow-left"
				.middle-part
					%h2 Dashboard
				.right-part
					= link_to 'Uitloggen', destroy_fitbit_user_session_path, class: "", data: { confirm: 'Weet u zeker dat u wilt uitloggen?' }, method: :delete
				.fitbit-user-image.dashboard{:style => "background-image: url(#{current_fitbit_user.avatar})"}
		- elsif care_giver_signed_in?
			%nav
				.left-part
					= link_to fa_icon("arrow-left"), :back
				.middle-part
					%h2 Overzicht
				.right-part
					= link_to 'Uitloggen', destroy_care_giver_session_path, class: "", data: { confirm: 'Weet u zeker dat u wilt uitloggen?' }, method: :delete
		- else
			.background-shape

		%main
			= yield

		- if fitbit_user_signed_in?
			.bottom-menu 
				.menu-item
					= link_to fitbit_api_dashboard_path, class: [ ('active' if current_page?(fitbit_api_dashboard_path)) ] do
						%i.fa.fa-user
				.menu-item
					= link_to fitbit_api_data_path, class: [ ('active' if current_page?(fitbit_api_data_path)) ] do
						%i.fa.fa-bar-chart
				.menu-item
					= link_to fitbit_api_notifications_path, class: [ ('active' if current_page?(fitbit_api_notifications_path)) ] do
						%i.fa.fa-bell-o
				.menu-item
					= link_to care_givers_client_overview_path, class: [ ('active' if current_page?(care_givers_client_overview_path)) ] do
						%i.fa.fa-sign-out
